#############################################
# Terraform
#############################################

**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

#############################################
# Terraform Variables
#############################################

terraform.tfvars
*.auto.tfvars

#############################################
# macOS
#############################################

.DS_Store

#############################################
# VS Code
#############################################

.vscode/

#############################################
# SSH Keys
#############################################

*.pem
*.key